<h1><center>Welcome to Blog</center></h1><hr>
<center><strong><%=link_to("New Article",controller: "articles", action: "new", id: @article)%></strong></center>
<hr>
<h1>Articles</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.comment %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
    </tr>
  <% end %>
</table>
